.article h3 {
	font-size: var(--silentclient-fontSizes-2xl);
}

.article h6 {
	font-size: var(--silentclient-fontSizes-lg);
}

.article ul {
	margin-left: 20px;
}

.article ol {
	margin-left: 20px;
}

.article a {
	text-decoration: underline;
}

.article a:hover {
	opacity: 0.8;
}
